*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 20px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    text-align: center;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(212, 211, 211), rgb(202, 198, 198));
}
main{
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid 1px;
    border-radius: 53px;
    background: linear-gradient(rgb(137, 233, 233), rgb(145, 164, 177));
    border: none;
}

main > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    padding: 5px;
    outline: none;
    accent-color: rgb(0, 119, 255);
    border-color: rgb(0, 140, 255);
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

input[type=range]{
    width: 90%;
}

button{
    border: none;
    background: linear-gradient(rgba(228, 220, 220, 0.993), rgba(49, 47, 47, 0.884));
    cursor: pointer;
    border-radius: 53px;
    padding: 10px;
    color: black;
    font-size: 20px;
}

@keyframes anima{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}